
  <h1><%= "#{@artist.name}'s Songs" %></h1>
  <br>
  <img src="<%= @artist.image %>" alt="Artist Image" class="artist-image">
<br>

<table style="width:100%">
  <tr>
    <% if logged_in? %> <th>Listen</th> <% end %>
    <th>Title</th>
    <th>Genre</th>
  </tr>

<% @artist.songs.each {|song| %>
  <tr>
    <% if logged_in? %><td><%= button_to "Play", plays_path, method: :post, params: { song_id: song.id }%></td><% end %>
    <td><%= link_to song.title, song %></td>
    <td><%= link_to song.genre.name, song.genre %></td>
  </tr>
<% } %>
</table>

<br>
<br>
<br>
