<h1>Welcome to Beatdrop! </h1>

<% if @user %>
    <h3>You're logged in as "<%= @user.name %>." Please select an option:</h3>
        <%= button_to "View Profile", @user, method: :get %> <br>
        <%= button_to "Logout", logout_path, method: :get %>

<% else %>
    <h3>Please login using your name:</h3>

    <%= flash[:message] %>
    <br>
    <%= form_for :auth do |f| %>
        <%= f.label "Name" %>
        <%= f.text_field :name %>

        <%= f.submit "Login" %>

    <% end %>

    <h3>Or Sign Up here: </h3>

    <%= button_to 'Sign Up', new_user_path, method: :get %>

<% end %>

