<h1>User Login Portal</h1><br>

<% if current_user %>
    <h3>You're logged in as "<%= current_user.name %>." Please select an option:</h3>
        <%= button_to "View Profile", current_user, method: :get %> <br>
        <%= button_to "Logout", logout_path, method: :get %>

<% else %>
    <h3>Welcome to BeatDrop! Please log in:</h3>

    <%= flash[:message] %><br>
    <%= form_for :auth do |f| %>
        <%= f.label "Name" %>
        <%= f.text_field :name %>

        <%= f.submit "Login" %>
    <% end %><br>
    <br>
    <h6>Or sign up as a new user <%= link_to "HERE", new_user_path %></h6>
<% end %>
    
    
