<h1>Welcome to Beatdrop! Please login using your name: </h1>

<%= flash[:message] %>
<br>

<h3>Session: <%= session[:user_id] %></h3>
<%= form_for :auth do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :name %>

    <%= f.submit "Login" %>

<% end %>

<h3>Or Sign Up here: </h3>

<%= button_to 'Sign Up', new_user_path, method: :get %>