<h1><%= @user.name %></h1>
<h3>Age: <%= @user.age %></h3>

<br>

<% if @user.songs.empty? %>
    <h3>You haven't played any songs yet! <%= link_to "Explore", songs_path %></h3>
<% else %>
    <h3>Songs played by you:</h3>
<% end %>
<ul>

<% @user.songs.each do |song| %>
    <li><%= pluralize(Play.total_plays(song, @user.id), "play") %> - <%= link_to "'#{song.title}'", song %> by <%= link_to "'#{song.artist.name}'", artist_path(song.artist) %></li>
<% end %>

</ul>